@page "/posts/{theme}"
@using Forum.AppContext
@using Forum.Models
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

@if(currentTheme == null)
{
    <h3>Theme not founded</h3>
}
else
{
    <h3>New post</h3>

    <input @bind-value="@text" />
    <button @onclick="AddPost">Click me</button>

    <h3>Posts</h3>

    @foreach (Post post in posts)
    {
        <p>@post.Id</p>
        <p>@post.Text</p>
    }
}




@code {
    [Parameter]
    public string Theme { get; set; } = "";

    private string text = "";
    private List<Post> posts;
    private Theme? currentTheme;

    protected override async Task OnInitializedAsync()
    {
        using (ApplicationContext db = new())
        {
            currentTheme = await db.Themes.FirstOrDefaultAsync(x => x.Name == Theme);
            if(currentTheme != null)
            {
                posts = await db.Posts.Where(x => x.Theme.Name == Theme).ToListAsync();
            }

        }
    }

    private async Task AddPost()
    {
        using (ApplicationContext db = new())
        {
            var post = db.Posts.Add(new Post { Text = text, Theme = currentTheme! });
            text = "";
            posts.Add(post.Entity);
            await db.SaveChangesAsync();
        }
    }
}
